<%- include('../partials/header') %>

<main id="drinks-index">
    <h2>Mixed Drinks!</h2>
    <section id="drinks">
        <a href="/drinks/new"><div>+ Add a new drink</div></a>
        <% drinks.forEach(function(d) { %>
          <div><%= d.name %></div>
          <% }); %>
    </section>
</main>

<%- include('../partials/footer') %>