<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<main>
  <div class="container">
    
    <h1>See what's fresh at the bar</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        
        <div class="card" style="width: 18rem;">
          <img src="https://assets.bonappetit.com/photos/5b69f16006027f654a27cd19/5:7/w_1755,h_2457,c_limit/ba-margarita-1.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>

      <div class="col">
        
        <div class="card" style="width: 18rem;">
          <img src="https://www.liquor.com/thmb/cJvj6Tj4Q6ORuH1jxjxIqY6R0so=/450x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__liquor__2020__01__02133901__Horn-of-the-Bulls-720x720-recipe-6955e8cb285342889ccd00ddd2676fd5.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>

      <div class="col">
        
        <div class="card" style="width: 18rem;">
          <img src="https://thumbs.dreamstime.com/b/food-glass-mojito-cocktail-pastel-yellow-background-57645419.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</main>





  
<%- include('./partials/footer') %>