.header-logo{
  width: 50px;
  margin-right: 15px;
}
.card img{
  height: 400px;
  object-fit: cover;
}

.show-breaks {
  white-space: pre-wrap;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}